body {
    background-color: #f8f9fa;
    font-family: 'Times New Roman', Times, serif;
  }

  .navbar-nav .nav-link {
    margin-left: 15px;
    margin-right: 15px;
    color: black;
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }

  .dropdown-menu {
    transition: none;
    border-radius: 0;
  }

  .nav-link.active {
    text-decoration: underline;
    color: #c23e2e !important;
  }

  .d-flex {
    gap: 20px;
  }

  .d-flex a:hover {
    color: orange;
  }

  .navbar-nav .nav-link:hover {
    color: orange;
  }

  .intro {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .intro-header {
    background-color: #f4e3c1;
    padding: 30px;
    text-align: center;
  }

  .intro-header h2 {
    color: #4f2b3d;
    margin-top: 15px;
  }

    .intro-header p {
      color: #555;
    }

    .intro-content {
      margin-top: 30px;
    }

    .intro-content h2 {
      color: #3e2b2b;
    }

    .intro-content .section {
      margin-bottom: 30px;
  }
  .team-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
  }

  .team-member {
    flex: 1;
    background-color: #f4e3c1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    text-align: center;
  }

  .team-member img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  .team-member h1 {
    color: #3e2b2b;
  }

  .team-member p {
    color: #555;
  }

  .info-section {
    background-color: #f4e3c1;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  section h2 {
    font-size: 36px;
    color: #3e2b2b;
    font-weight: bold;
  }

  .info-section h3 {
    font-size: 18px;
    color: #3e2b2b;
    font-weight: bold;
  }

  .info-section p {
    font-size: 15px;
    color: #555;
  }

  .info-section a {
    color: #3e2b2b;
    text-decoration: none;
    font-weight: bold;
  }

  .info-section a:hover {
    text-decoration: underline;
  }

  .info-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
  }

  .info-box {
    flex: 1;
  }

  .info-box h3 {
    margin-bottom: 10px;
  }

  .info-box p {
    margin-bottom: 15px;
  }

  .text-brown {
    color: #6f4f28;
  }

  .text-brown:hover {
    color: black !important;
  }

  .description-section h3 {
    font-size: 36px;
    color: #3e2b2b;
    font-weight: bold;
  }

  .description-section p {
    font-size: 20px;
    color: #555;
    margin-top: 10px;
  }

  .description-section .d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .description-section .d-flex img {
    max-width: 100%;
    height: auto;
  }

  .description-section .d-flex div {
    flex: 1;
  }

  .map iframe {
    border-radius: 10px;
  }
  .team-photo {
    width: 150px;
    height: 1000px; 
    object-fit: contain; 
    object-position: center; 
    border-radius: 10px; 
    margin-bottom: 15px;
    display: block; 
}

  #toggleInfoButton {
    display: none;
    margin: 20px auto;
    background-color: #633d1e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  @media (max-width:500px) {
    .info-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      padding: 0 20px;
    }

    .nav-link i {
      margin-left: 30px;
    }

    .info-box {
      display: none;
    }

    .info-box.visible {
      display: block;
    }

    #toggleInfoButton {
      display: block;
    }

    .map {
      width: 100% !important;
      margin: 0 auto;
    }

    .map iframe {
      height: 200px;
    }
  }

  .footer {
    background-color: #3e2b2b;
    color: white;
    padding: 20px 0;
  }

  .team-photo {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
  }